apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-classification
  labels:
    app: iris-classification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-classification
  template:
    metadata:
      labels:
        app: iris-classification
    spec:
      containers:
      - name: iris-app
        image: ghcr.io/santuuuuu/iris_ml_api_week6:latest  # GitHub Container Registry
        ports:
        - containerPort: 8080
        env:
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: iris-service
spec:
  selector:
    app: iris-classification
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer
